#landing-page {
  max-width: 28rem;
  min-height: auto;
  padding-top: 8px;
}

#landing-signin-msg, #landing-signup-msg {
  text-align: center;
}

#landing-signin-msg {
  font-size: 1.4rem;
}

#landing-signup-msg {
  font-size: 1.2rem;
  margin: .5em;
}

#landing-signup-container {
  margin-top: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#landing-signup-button {
  font-size: 1.2rem;
  background: transparent;
  color: #4B809C;
  font-weight: bold;
  letter-spacing: .03em;
  border: 0;
  cursor: pointer;
  align-self: center;
  padding: .2em .5em;
}

#landing-signup-button:focus, #landing-signup-button:hover {
  text-decoration: underline;
}

#landing-signup-button:active {
  top: 0;
}

#landing-signin-button button {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: .08em;
}

#landing-divider {
  border-bottom: 1px solid black;
  width: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: content-box;
  margin-top: 15px;
}
