#landing-page {
  max-width: 28rem;
}

#landing-signin-msg, #landing-signup-msg {
  text-align: center;
}

#landing-signup-msg {
  font-size: 1.5rem;
}

#landing-signin-msg {
  font-size: 1.2rem;
}

#landing-signin-button input {
  font-size: 1.1rem;
  padding: 4px 5px;
  width: 50%;
}