#account-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.account-nav-button {
  font-family: inherit;
  box-sizing: content-box;
  background-color: transparent;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 100%;
  font-size: 1.1rem;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
  border: 1px solid gray;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  transition: background-color 200ms;
}

.active-tab {
  font-weight: bold;
  text-decoration: underline;
}

.inactive-tab:focus, .inactive-tab:hover, .active-tab:focus, .active-tab:hover {
  background-color: whitesmoke;
}

#delete-account-button button {
  background: #ee5f66;
}

#edit-account-button button {
  background: #529a79;
}

#account-subsection .signup-section {
  padding: 0;
}
