#post-form-description {
  height: 14rem;
  max-height: 17rem;
  resize: none;
}

#post-form-photo-parent {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

#post-form-photo-parent :nth-child(2) {
  max-width: 100%;
  max-height: 30rem;
}

#post-form-photo-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
}

.post-form-options {
  margin-top: .3rem;
  margin-bottom: .4rem;
}

#select-online-photo {
  width: 100%;
}

#select-online-photo label {
  display: inline-flex;
  align-items: baseline;
}

#select-disk-photo {
  margin-top: .4rem;
}

#post-form-parent input[type="radio"], #select-online-photo input[type="checkbox"] {
  margin-left: 0;
}

#flex-post-location {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

#post-form-detect-button {
  margin-right: .5rem;
}

#post-form-detect-msg {
  margin-bottom: .3rem;
}

#post-form-place-parent {
  margin-bottom: 0.7rem;
}

#post-form-load-msg {
  height: 1rem;
}
