.short-post-photo-parent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.open-photo {
  display: block;
}

.closed-photo {
  display: none;
}

.short-post-photo {
  max-width: 100%;
  max-height: 15rem;
}

.full-post-photo {
  max-width: 100%;
  max-height: 30rem;
}

#post-location {
  font-size: 1.1rem;
  margin: 0;
}

.read-more-button {
  box-sizing: content-box;
  font: inherit;
  font-size: 1.1rem;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 0;
  font-weight: bold;
  color: #3f85cb;
  margin-top: 1em;
}

.read-more-button:focus, .read-more-button:hover, .post-creator-button:focus, .post-creator-button:hover {
  text-decoration: underline;
}

.post-creator-button {
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #3f85cb;
  font-size: inherit;
}

.posted-by {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#post-map-parent {
  max-width: 30rem;
  margin: 1.5em auto;
}

#delete-post-button {
  flex-flow: column;
}

#delete-post-button .main-button {
  background: #dc5a61;
}

.post-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  font-size: 0.95rem;
  margin-top: 1.4em;
}

#post-options-bar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#post-options-bar .option-button {
  transform: scale(1.0);
  transition: transform 200ms
}

#post-options-bar .option-button:focus, #post-options-bar .option-button:hover {
  transform: scale(1.2);
}

#post-options-menu {
  border: 1px solid silver;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.post-description {
  margin-top: 1.5em;
}

.post-description p {
  margin-bottom: 0;
  margin-top: 0.5em;
  line-height: 1.3em;
}

.location-container .sign-internal-button {
  margin-left: 1em;
}

.location-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1.5em;
  margin-top: 1em;
}

.short-post-photo-parent #post-map-parent {
  margin-top: 0;
  margin-bottom: 0;
}

.ratings {
  display: flex;
  justify-content: flex-end;
  font-size: .95rem;
  margin-top: .3em;
  font-weight: 500;
}

.ratings span {
  font-weight: 400;
  margin-left: .4em;
}

.select-rate {
  margin-left: .4em;
}