.short-post-photo-parent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.short-post-photo {
  max-width: 100%;
  max-height: 15rem;
}

.full-post-photo {
  max-width: 100%;
  max-height: 25rem;
}

.read-more {
  font-size: 1.1rem;
}

.read-more-button {
  box-sizing: content-box;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 0;
  font-weight: bold;
  color: #3f85cb;
  margin-top: 0;
}

.read-more-button:focus, .read-more-button:hover, .post-creator-button:focus, .post-creator-button:hover {
  text-decoration: underline;
}

.post-creator-button {
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #3f85cb;
}

.post-description {
  overflow: hidden;
}

.posted-by {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.posted-by span {
  padding-right: 6px;
}

#post-map-parent {
  max-width: 35rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

#delete-post-button input {
  background: #ee5f66;
}

.post-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  font-size: 0.9rem;
}

#post-options-bar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#post-options-menu {
  border: 1px solid silver;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}