.short-post-photo-parent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.short-post-photo {
  max-width: 100%;
  max-height: 15rem;
}

.full-post-photo {
  max-width: 100%;
  max-height: 25rem;
}

.post-show-more-arrow {
  width: 2rem;
  height: auto;
}

.read-more {
  font-size: 1.2rem;
}

.read-more-button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  box-sizing: content-box;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  margin-left: auto;
  margin-right: auto;
}

.post-description {
  overflow: hidden;
}

.posted-by {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.posted-by span {
  padding-right: 6px;
}

#post-map-parent {
  margin-bottom: 1rem;
}

#delete-post-button input {
  background: #ff4e56;
}

.post-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 0.9rem;
}

#rating-select {
  margin-left: 5px;
}

#post-options-button {
  width: 1.5rem;
  padding: 0;
}

#post-options-bar {
  margin-top: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}