/* spinning loader */
.loader {
  width: 1rem;
  height: 1rem;
}

/* any-button besides the sign up/in button */
.sign-internal-button {
  font-family: inherit;
  font-size: 1rem;
  margin-bottom: .3rem;
}

/* input boxes except radio buttons */
.sign-tofill {
  background-color: #f5fdff;
  border: 1px solid silver;
  border-radius: 3px;
  height: 2rem;
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
  min-width: 0;
}

/* increase distance between form labels and their input boxes.
   margin-top should be 0 so that the distance between form fields
   is defined only by the next rule */
.sign-label {
  display: inline-block;
  margin-bottom: 0.2rem;
  margin-top: 0;
}

/* increase distance between all direct children of the form */
.sign-child {
  margin-bottom: 1.2rem;
}

/* message container for the location search & upload photo actions */
.sign-process-msg {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.invalid-value {
  font-size: 0.9rem;
  color: red;
}