html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

#no-nav {
  margin-top: 2.8rem;
}

/* blue button container */
.sign-button {
  text-align: center;
  max-width: 12rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* blue button */
.sign-button input {
  font-family: inherit;
  font-size: 1.1rem;
  letter-spacing: .05rem;
  color: white;
  padding: 6px 11px;
  background: linear-gradient(to bottom, #43628b, #324a69);
  border: 1px solid #1b5e2e;
  border-radius: 3px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  text-align: center;
  width: 100%;
  margin: 16px auto 16px;
}

/* button press effect */
input[type="button"]:active, button:active {
  position: relative;
  top: 1px;
}

input[type="button"]:focus, button:focus {
  outline: 0;
}

#signin-section, #landing-section {
  padding-top: 4rem;
}

#account-parent {
  max-width: 65rem;
}

#posts-parent, #post-form-parent, #userlist-parent {
  max-width: 40rem;
}

#account-delete-confirm-text, #post-delete-confirm-text, #delete-post-msg {
  margin-bottom: 16px;
}

.parent-in-main {
  padding: 16px 32px 24px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
}

.parent-in-main h2 {
  font-size: 1.7rem;
  text-align: center;
}

.parent-in-myaccount {
  padding-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.parent-in-myaccount h2 {
  font-size: 1.4rem;
  text-align: center;
}

.normal-font-weight {
  font-weight: normal;
}

.bold-font-weight {
  font-weight: bold;
}

.transparent-button {
  box-sizing: content-box;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.transparent-button img, .signin-photo-button img {
  width: 100%;
  height: auto;
}

.yes-no-button {
  font-family: inherit;
  margin-left: .5rem;
  margin-right: .5rem;
  width: 3rem;
  font-size: .9rem;
}

@media only screen and (max-width: 45rem) {
  #landing-section, #signin-section {
    padding-top: 0;
  }

  .parent-in-main {
    padding: 16px 24px 24px;
  }

  #navbar-content {
    padding-left: 24px;
    padding-right: 24px;
  }
}