html {
  background-image:
      radial-gradient(circle farthest-corner at top left, rgb(207, 205, 223) 0%, rgba(120, 216, 136, 0) 30%),
      radial-gradient(circle farthest-side at top right, rgb(216, 221, 237) 0%, rgba(211, 216, 177,0) 40%),
      radial-gradient(circle farthest-corner at bottom right, rgb(200, 196, 184) 0%, rgba(244, 225, 214, 0) 53%),
      radial-gradient(circle farthest-corner at top right, rgba(175, 221, 240,1) 0%, rgba(224, 240, 195, 0) 50%),
      radial-gradient(ellipse at bottom left, rgb(205, 223, 205) 0%, rgba(197, 243, 199, 0) 56%),
      radial-gradient(ellipse at top center, rgba(254, 233, 230,0.6) 0%, rgba(254, 223, 190, 0) 60%);
  background-color: #bdc3cb;
}

.html-logged-in {
  background-image: revert;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

#no-nav {
  margin-top: 2.8rem;
}

.no-nav-logged-in {
  background: #bdc3cb;
}

/* blue button container */
.sign-button {
  display: flex;
}

.main-button {
  top: 0;
  box-shadow: none;
  font-family: inherit;
  font-size: 1.1rem;
  letter-spacing: .05rem;
  color: white;
  padding: .5em 1.4em;
  background: #56aa7f;
  border: 1px solid #1b5e2e;
  border-radius: 2px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  text-align: center;
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 1em;
  transition: top 200ms, box-shadow 200ms;
}

.center-button {
  margin-left: auto;
  margin-right: auto;
}

.right-button {
  margin-left: auto;
  margin-right: 0;
}

#landing-section, #signin-section, #signup-section {
  min-height: calc(100vh - 2.8rem);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

input[type="button"]:focus, button:focus {
  outline: 0;
}

.main-button:focus, .main-button:hover {
  top: -1px;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.4);
}

/* button press effect */
.sign-button button:active {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

input[type="button"]:active, button:active {
  position: relative;
  top: 1px;
}

#account-delete-confirm-text, #post-delete-confirm-text, #delete-post-msg {
  margin-bottom: 16px;
  text-align: center;
}

.parent-in-main {
  max-width: 65rem;
  padding: 16px 32px 24px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  min-height: calc(100vh - 2.8rem);
  border: 1px solid silver;
  border-radius: 2px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
}

.parent-in-main h2 {
  font-size: 1.7rem;
  text-align: center;
  margin-top: .6em;
}

.parent-in-myaccount {
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
}

.parent-in-myaccount h2 {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1em;
}

.normal-font-weight {
  font-weight: normal;
}

.bold-font-weight {
  font-weight: bold;
}

.transparent-button {
  box-sizing: content-box;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.transparent-button img, .signin-photo-button img {
  width: 100%;
  height: auto;
}

.yes-no-button {
  font-family: inherit;
  margin-left: .5rem;
  margin-right: .5rem;
  width: 3rem;
  font-size: .9rem;
}

.option-button {
  width: 1.4rem;
  height: auto;
  padding: 0;
}

div[id^="OpenLayers_Control_Attribution"] {
  bottom: 1em;
  right: 1em;
}

.olMap {
  position: relative;
}

@media only screen and (max-width: 45rem) {
  .parent-in-main {
    border: 0;
    border-radius: unset;
    box-shadow: none;
    padding: 16px 16px 24px;
  }
}
