.userlist-arrow-button {
    display: flex;
    flex-flow: row nowrap;
    width: 2.3rem;
    padding-left: 5px;
    padding-right: 5px;
    transform: scale(1.0);
    transition: transform 200ms;
}

#userlist-left-arrow-button {
    margin-right: auto;
}

#userlist-right-arrow-button {
    margin-left: auto;
}

.userlist-enabled-arrow-button:focus, .userlist-enabled-arrow-button:hover {
    transform: scale(1.1);
}

.username-button {
    font: inherit;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    width: 100%;
    transition: background-color 200ms;
}

.username-button:focus, .username-button:hover {
    background-color: whitesmoke;
}

.user-show-more-arrow {
    width: 1.2rem;
    height: auto;
    margin-left: auto;
}

#userlist-nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 50%;
    max-width: 15rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

.username-line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.userlist-hr-bottom {
    margin-bottom: 0;
}

.userlist-hr {
    margin-bottom: 0;
    margin-top: 0;
}

.online-user {
    height: 1rem;
}

#legend {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#legend-text {
    margin-left: .4em;
}

.allusers-name {
    margin-right: .4em;
}